html, body {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  height: 60px;
  background-color: red;
  line-height: 60px;
  color: white;
  font-weight: bolder;
  padding: 0 30px;
  text-transform: uppercase;
}

.search {
  height: 40px;
  background-color: white;
  line-height: 40px;
  font-weight: bolder;
  padding: 0 30px;
  text-transform: uppercase;
}

.contents {
  display: flex;
  position: absolute;

  background-color: lightblue;
  top: 100px;
  bottom: 40px;
  left: 0;
  right: 0;
}

.title {
  padding: 20px 0 10px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}

.subtitle {
  padding: 0 0 20px 30px;
  font-style: italic;
  text-transform: uppercase;
  border-bottom: 1px solid red;
  font-size: 0.8em;
  color: grey;
}

.contents-wrap-left {
  flex: 0.4;
  display: flex;
  flex-direction: column;
}

.left-contents {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.contents-wrap-right {
  flex: 0.6;
  display: flex;
  flex-direction: column;
}

.right-contents {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.item {
  height: 80px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-content-title {
  padding: 0 0 0 30px;
  line-height: 30px;
  font-size: 1.5em;
}

.item-content-body {
  padding: 0 0 0 30px;
  line-height: 30px;
}

.lightgrey {
  background-color: lightgrey;
}

.violet {
  background-color: violet;
}

.brown {
  background-color: brown;
}

footer {
  position: absolute;
  height: 40px;
  bottom: 0;
  background-color: red;
  width: 100%;
  line-height: 40px;
  color: white;
  font-weight: bolder;
}

footer > div {
  padding: 0 30px;
}
